<li id="comment-<%= comment._id %>">
    <p>
        <!-- For deleting the comment we require two checks that the user is signed in and the user deleting the comment is the owner of the comment -->
        <% if (locals.user && locals.user.id == comment.user.id) { %>
        <small>
            <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>">X</a>
        </small>
        <%} %>
        <%= comment.content %>
        <br>
        <small>
            <%= comment.user.name %>
        </small>
        <!-- display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
        <small>
        <% if (locals.user) { %> 
            <a href="/likes/toggle/?id=<%= comment._id %>&type=Comment" class= "toggle-like-button" data-likes= "<%= comment.likes.length %>" >
            <%= comment.likes.length %> Likes
            </a>
        <% } else { %> 
            <%= comment.likes.length %> Likes
        <% } %>
        </small>
    </p>
</li>