<html>
    <head>
        <title>
            <%= title %>
        </title>
        
        <link rel="stylesheet" href="/css/layout.css"> <!-- in href it is automatically looking into assets folder as we use static in index.js-->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); -%>

        <!-- Accessing flash messages that we have created without using noty-->
        <% if (flash.success && flash.success.length>0) { %> 
            <h5 style="margin-top:3%">
                <%= flash.success %>
            </h5>
        <% } %>

        <main id="layout-main">
            <div style="margin-top: 2.5vw;">
                <%- body -%>
            </div>
        </main>
        
        

        <%- include('_footer'); -%>

        <%- script %>
    </body>
</html>