<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css"> <!-- in href it is automatically looking into assets folder as we use static in index.js-->
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>

        <!-- Variable Content that we want to show -->
        <%- body %>

        <%- include('_footer'); %>

        
        <%- script %>
    </body>
</html>