<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css"> <!-- in href it is automatically looking into assets folder as we use static in index.js-->
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); -%>
        <main id="layout-main">
            <div style="margin-top: 2.5vw;">
                <%- body -%>
            </div>
        </main>
        
        

        <%- include('_footer'); -%>

        <%- script %>
    </body>
</html>